<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>PRODUCTS</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="formdata" (ngSubmit)="submit(formdata.value)" class="">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="position-relative form-group">
                                <label>PRODUCTS CATEGORY<span class="text-danger">*</span></label>
                                <select class="form-control" formControlName="categoryid">
                                    <option value="0">Select</option>
                                    <option *ngFor="let category of categories;" value="{{category.id}}">{{
                                        category.name }}</option>
                                        
                                </select>
                                <em class="error text-danger small"
                                    *ngIf="formdata.controls.categoryid.touched && formdata.controls.categoryid.invalid">Please
                                    Select Category</em>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative form-group">
                                <label>NAME<span class="text-danger">*</span></label>
                                <input placeholder="NAME" type="text" formControlName="name" class="form-control">
                                <em class="error text-danger small"
                                    *ngIf="formdata.controls.name.touched && formdata.controls.name.invalid">Please
                                    Enter Name</em>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="position-relative form-group">
                                <label>TITLE<span class="text-danger">*</span></label>
                                <input placeholder="TITLE" type="text" formControlName="title" class="form-control">
                                <em class="error text-danger small"
                                    *ngIf="formdata.controls.title.touched && formdata.controls.title.invalid">Please
                                    Enter Title</em>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="position-relative form-group">
                                <label>IMAGE<span *ngIf="id == 0" class="text-danger">*</span></label>
                                <input placeholder="Picpath" id="imagename" type="file" (change)="imageChanged($event)"
                                    class="form-control" >
                            </div>
                        </div>  
                        <div class="col-lg-2">
                            <div class="position-relative form-group">
                                <label>PUBLISHED</label> <br>
                                <label class="switch" >
                                    <input formControlName="published" type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="position-relative form-group">
                                <label>MRP<span class="tect-danger"></span></label>
                                <input placeholder="" type="text" formControlName="mrp" class="form-control">
                                        <em class="error text-danger small"
                                    *ngIf="formdata.controls.title.touched && formdata.controls.title.invalid"></em>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="position-relative form-group">
                                <label>PRICE<span class="tect-danger"></span></label>
                                <input placeholder="" type="text" formControlName="price" class="form-control">
                                <em class="error text-danger small"
                                    *ngIf="formdata.controls.price.touched && formdata.controls.price.invalid"></em>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="position-relative form-group ">
                                <label>BULLETPOINT<span class="tect-danger"></span></label>
                                <!-- <input  placeholder="" type="text" formControlName="title" class="form-control"> -->
                                <textarea class="form-control" formControlName="bulletpoint"></textarea>
                                <em class="error text-danger small"
                                    *ngIf="formdata.controls.bulletpoint.touched && formdata.controls.bulletpoint.invalid"></em>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="position-relative form-group ">
                                <label>DESCRIPTION<span class="tect-danger"></span></label>
                                <!-- <input  placeholder="" type="text" formControlName="title" class="form-control"> -->
                                <textarea class="form-control" formControlName="description"></textarea>
                                <em class="error text-danger small"
                                    *ngIf="formdata.controls.description.touched && formdata.controls.description.invalid"></em>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="position-relative form-group ">
                                <label>KEYWORDS<span class="tect-danger"></span></label>
                                <!-- <input  placeholder="" type="text" formControlName="title" class="form-control"> -->
                                <textarea class="form-control" formControlName="keywords"></textarea>
                                <em class="error text-danger small"
                                    *ngIf="formdata.controls.keywords.touched && formdata.controls.keywords.invalid"></em>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="position-relative form-group ">
                                <label>KEYWORDDESCRIPTION<span class="tect-danger"></span></label>
                                <!-- <input  placeholder="" type="text" formControlName="title" class="form-control"> -->
                                <textarea class="form-control" formControlName="keyworddescription"></textarea>
                                <em class="error text-danger small"
                                    *ngIf="formdata.controls.keyworddescription.touched && formdata.controls.keyworddescription.invalid"></em>
                            </div>
                        </div>
                    </div>
                    <input type="submit" [disabled]="formdata.invalid" value="SAVE" class="btn btn-primary mr-2">
                    <input type="reset" value="CANCEL" (click)="cancel()" class="btn btn-danger">
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-12 mt-2">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-striped table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th style="width: 140px;" class="text-center">ACTION</th>
                            <th style="width: 80px;" class="text-right">SR NO</th>
                            <th class="text-left">PRODUCT CATEGORY</th>
                            <th class="text-left">NAME</th>
                            <th class="text-left">TITLE</th>
                            <th class="text-left">IMAGE</th>
                            <th class="text-left">PICTURES</th>
                            <th class="text-left">VARIETIES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of result; let i=index">
                              <td class="text-center">
                                <button data-toggle="tooltip" data-placement="top" title="Edit" (click)="edit(data.id)"
                                     class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-primary"><i
                                     class="pe-7s-tools btn-icon-wrapper"> </i></button>
                                <button (click)="delete(data.id)"
                                     class="mb-2 mr-2 btn-icon btn-icon-only btn-pill btn btn-danger"><i
                                     class="pe-7s-trash btn-icon-wrapper"> </i></button>
                        </td>
                            <td class="text-right">{{i+1}}</td>
                            <td>{{data.categoryname}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.title}}</td>
                            <td><img src="{{api.baseurl + 'products' + data.imagename}}" style="height:80px;" /></td>
                            <td><button class="btn btn-primary" type="button" (click)="picture(data.id)">{{ data.picturecount }}</button></td>
                            <td><button class="btn btn-primary" type="button" (click)="varieties(data.id)">{{ data.varietycount }}</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>